<h1> Friend Request Sent: </h1>
<ul>
<% @requests.each do |r| %>
  <li> <%= r.name %> </li>
<% end %>
</ul>

<h1> Friend Request Pending: </h1>
<ul>
<% @pending_requests.each do |r| %>
  <li> <%= r.name %> </li>
<% end %>
</ul>