<h1> Friend Request Sent: </h1>
<ul>
<% @requests.each do |r| %>
  <li> <%= @users.find(r.friend_id).name %> <%= link_to "Cancel Request", delete_request_path(r.friend_id), method: :delete, data: {confirm: "Are you sure?"} %> </li>
<% end %>
</ul>

<h1> Friend Request Pending: </h1>
<ul>
<% @pending_requests.each do |r| %>
  <li> <%= @users.find(r.user_id).name %> <%= link_to "Accept Request", root_path %> </li>
<% end %>
</ul>