<%= form_for @post do |f| %>
  <div class="field">
    <p class="label">What's on Your Mind?</p>
    <div class="control">
      <%= f.text_area :content, class: "textarea is-primary" %>
    </div>
  </div>
    <%= f.submit "Post", class: "button" %>
<% end %>